<% unless current_user.bank_accounts.empty? %>

  <% if current_user.bank_accounts.first.budgets.empty? %>

    <%= form_for @budget, controller: "budgets#create", :html => {:method => :post} do |f| %>
      <%= f.date_field :start_date %>
      <%= f.date_field :end_date %>
      <%= f.submit "Create Budget" %>
    <% end %>

  <% else %>
    <h1> Start Date: <%= @budget.start_date %> | End Date: <%= @budget.end_date %> </h1>
    <h1> Incomes: <%= @incomes.sum(:amount) %> </h1>
    <%= render "budget_types/new_income" %>
    <%= render "budgets/income" %>

    <h1> Expenses: <%= @expenses.sum(:amount) %>  </h1>
    <%= render "budget_types/new_expense" %>
    <%= render "budgets/expense" %>

    <h1> Balances: <%= @incomes.sum(:amount) - @expenses.sum(:amount) %>  </h1>
    <%= render "budget_types/new_balance" %>
    <%= render "budgets/balance" %>
    <p> Leftover: <%= @incomes.sum(:amount) - @expenses.sum(:amount) - @balances.sum(:amount) %> </p>

  <% end %>

<% else %>

  <h1> Please create a bank account above! </h1>

<% end %>
