<% unless current_user.bank_accounts.empty? %>

  <% if current_user.bank_accounts.first.budgets.empty? %>

    <%= form_for @budget, controller: "budgets#create", :html => {:method => :post} do |f| %>
      <%= radio_button_tag(:name, "jan") %>
      <%= label_tag(:name_jan, "January") %>
      <%= radio_button_tag(:name, "feb") %>
      <%= label_tag(:name_feb, "February") %>
      <%= radio_button_tag(:name, "mar") %>
      <%= label_tag(:name_feb, "March") %>
      <%= radio_button_tag(:name, "apr") %>
      <%= label_tag(:name_feb, "April") %>
      <%= radio_button_tag(:name, "may") %>
      <%= label_tag(:name_feb, "May") %>
      <%= radio_button_tag(:name, "jun") %>
      <%= label_tag(:name_feb, "June") %>
      <%= radio_button_tag(:name, "jul") %>
      <%= label_tag(:name_feb, "July") %>
      <%= radio_button_tag(:name, "aug") %>
      <%= label_tag(:name_feb, "August") %>
      <%= radio_button_tag(:name, "sep") %>
      <%= label_tag(:name_feb, "September") %>
      <%= radio_button_tag(:name, "oct") %>
      <%= label_tag(:name_feb, "October") %>
      <%= radio_button_tag(:name, "nov") %>
      <%= label_tag(:name_feb, "November") %>
      <%= radio_button_tag(:name, "dec") %>
      <%= label_tag(:name_feb, "December") %>
      <%= f.submit "Create Budget" %>
    <% end %>

  <% else %>
    <h1> <%= @budget.name %> </h1>
    <h2> Start Date: <%= @budget.start_date %> | End Date: <%= @budget.end_date %> </h2>

    <p> ------------------------------------------------ </p>
    <h3> Incomes: <%= @total_budget_income %> </h3>
    <%= render "budget_types/new_income" %>
    <%= render "budgets/income" %>

    <h3> Expenses: <%= @total_budget_expense %>  </h3>
    <%= render "budget_types/new_expense" %>
    <%= render "budgets/expense" %>

    <h3> Balances: <%= @total_budget_balance %>  </h3>
    <%= render "budget_types/new_balance" %>
    <%= render "budgets/balance" %>
    <h3> Leftover: <%= @total_budget_income - @total_budget_expense - @total_budget_balance %> </h3>

  <% end %>

<% else %>

  <h1> Please create a bank account above! </h1>

<% end %>
