<% unless current_user.bank_accounts.empty? %>

  <% if current_user.bank_accounts.first.budgets.empty? %>

    <%= form_for @budget, controller: "budgets#create", :html => {:method => :post} do |f| %>
      <%= radio_button_tag(:name, "jan") %>
      <%= label_tag(:name_jan, "January") %>
      <%= radio_button_tag(:name, "feb") %>
      <%= label_tag(:name_feb, "February") %>
      <%= radio_button_tag(:name, "mar") %>
      <%= label_tag(:name_feb, "March") %>
      <%= radio_button_tag(:name, "apr") %>
      <%= label_tag(:name_feb, "April") %>
      <%= radio_button_tag(:name, "may") %>
      <%= label_tag(:name_feb, "May") %>
      <%= radio_button_tag(:name, "jun") %>
      <%= label_tag(:name_feb, "June") %>
      <%= radio_button_tag(:name, "jul") %>
      <%= label_tag(:name_feb, "July") %>
      <%= radio_button_tag(:name, "aug") %>
      <%= label_tag(:name_feb, "August") %>
      <%= radio_button_tag(:name, "sep") %>
      <%= label_tag(:name_feb, "September") %>
      <%= radio_button_tag(:name, "oct") %>
      <%= label_tag(:name_feb, "October") %>
      <%= radio_button_tag(:name, "nov") %>
      <%= label_tag(:name_feb, "November") %>
      <%= radio_button_tag(:name, "dec") %>
      <%= label_tag(:name_feb, "December") %>
      <%= f.submit "Create Budget" %>
    <% end %>

  <% else %>
    <h1> <%= @budget.first.name %> </h1>
    <h2> Start Date: <%= @budget.first.start_date %> | End Date: <%= @budget.first.end_date %> </h2>
    <p> ------------------------------------------------ </p>
  
  <div class="mdl-grid">
    <% @group_users.each do |user| %>
    <div class = "mdl-cell mdl-cell--3-col">
    <%= user.name %><br>
    <%= image_tag user.avatar.thumb %>
    </div>
    <% end %> 
  </div>

  <div class="mdl-grid">
    <% @group_users.each_with_index do |user, index| %>
  <div class="mdl-cell mdl-cell--3-col"> 
    <h3> Incomes: <%= @total_budget_income[index] %> </h3>
    <%if user.id == current_user.id %>
    <%= render "budget_types/new_income", index: index %>
    <% end %>
    <%= render "budgets/income", index: index %>
  </div>
  <%end%>
  </div>

  <div class="mdl-grid">
   <% @group_users.each_with_index do |user, index| %>
   <div class= "mdl-cell mdl-cell--3-col">
    <h3> Expenses: <%= @total_budget_expense[index] %>  </h3>
    <%if user.id == current_user.id %>
    <%= render "budget_types/new_expense", index: index %>
    <% end %>
    <%= render "budgets/expense", index: index %>
    </div>
    <%end%>
    </div>
  
  <div class="mdl-grid">
   <% @group_users.each_with_index do |user, index| %>
    <div class= "mdl-cell mdl-cell--3-col">
    <h3> Balances: <%= @total_budget_balance[index] %>  </h3>
     <%if user.id == current_user.id %>
    <%= render "budget_types/new_balance", index: index %>
    <% end %>
    <%= render "budgets/balance", index: index %>
    </div>
    <%end%>
    </div>
  
  <div class="mdl-grid">
   <% @group_users.each_with_index do |user, index| %>
    <div class="mdl-cell mdl-cell--3-col">
    <h3> Leftover: <%= @total_budget_income[index] - @total_budget_expense[index] - @total_budget_balance[index] %> </h3>
    </div>
    <%end %>
    </div>

  <% end %>
  </div>

<% else %>

  <h1> Please create a bank account above! </h1>

<% end %>