<div class = "container">
<% unless current_user.bank_accounts.empty? %>

  <% if current_user.bank_accounts.first.budgets.empty? %>

    <%= form_for @budget, controller: "budgets#create", :html => {:method => :post} do |f| %>
      <%= radio_button_tag(:name, "jan") %>
      <%= label_tag(:name_jan, "January") %>
      <%= radio_button_tag(:name, "feb") %>
      <%= label_tag(:name_feb, "February") %>
      <%= radio_button_tag(:name, "mar") %>
      <%= label_tag(:name_feb, "March") %>
      <%= radio_button_tag(:name, "apr") %>
      <%= label_tag(:name_feb, "April") %>
      <%= radio_button_tag(:name, "may") %>
      <%= label_tag(:name_feb, "May") %>
      <%= radio_button_tag(:name, "jun") %>
      <%= label_tag(:name_feb, "June") %>
      <%= radio_button_tag(:name, "jul") %>
      <%= label_tag(:name_feb, "July") %>
      <%= radio_button_tag(:name, "aug") %>
      <%= label_tag(:name_feb, "August") %>
      <%= radio_button_tag(:name, "sep") %>
      <%= label_tag(:name_feb, "September") %>
      <%= radio_button_tag(:name, "oct") %>
      <%= label_tag(:name_feb, "October") %>
      <%= radio_button_tag(:name, "nov") %>
      <%= label_tag(:name_feb, "November") %>
      <%= radio_button_tag(:name, "dec") %>
      <%= label_tag(:name_feb, "December") %>
      <%= f.submit "Create Budget" %>
    <% end %>

  <% else %>



    <h1> <%= @budget.first.name %> </h1>
    <%= button_to "<", user_profile_path(current_user.id), method: :get, params: {month: "#{@month - 1}"}, class: "pull-left" %>

    <%= button_to ">", user_profile_path(current_user.id), method: :get, params: {month: "#{@month + 1}"}, class: "pull-right" %>
</br>
    <h2> Start Date: <%= @budget.first.start_date %> | End Date: <%= @budget.first.end_date %> </h2>



  <div class="row">

  <!-- Default panel contents -->
    <% @group_users.each_with_index do |user, index| %>
 <div class="panel panel-default col-md-3" style="padding-bottom: 15px;">   
  <div class="panel-heading">Income: <%= number_to_currency(@total_budget_income[index], unit: "MYR ") %></div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>Category</th>  
      <th>Amount</th>
    </tr>
    <% @budget_incomes[index].each do |income| %>
    <tr>
        <td><%= income.tag.description %> </td>
        <td><%= number_to_currency(income.amount, unit: "MYR ") %></td>
    </tr>
    <% end %>  
  </table>
  <%if user.id == current_user.id %>
     <%= render "budget_types/new_income", index: index %>
   <% end %> 
 </div>
  <%end%>
</div>






  <div class="row">

  <!-- Default panel contents -->
    <% @group_users.each_with_index do |user, index| %>
 <div class="panel panel-default col-md-3" style="padding-bottom: 15px;" >   
  <div class="panel-heading">Expenses: <%= number_to_currency(@total_budget_expense[index], unit: "MYR ") %></div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>Category</th>  
      <th>Amount</th>
    </tr>
    <% @budget_expenses[index].each do |expense| %>
    <tr>
        <td><%= expense.tag.description %> </td>
        <td><%= number_to_currency(expense.amount, unit: "MYR ") %></td>
    </tr>
    <% end %>  
  </table>
  <%if user.id == current_user.id %>
     <%= render "budget_types/new_expense", index: index %>
   <% end %> 
 </div>
  <%end%>
</div>




  <div class="row">

  <!-- Default panel contents -->
    <% @group_users.each_with_index do |user, index| %>
 <div class="panel panel-default col-md-3" style="padding-bottom: 15px;" >   
  <div class="panel-heading">Balances: <%= number_to_currency(@total_budget_balance[index], unit: "MYR ") %></div>

  <!-- Table -->


  <table class="table">
    <tr>
      <th>Category</th>  
      <th>Amount</th>
    </tr>
    <% @budget_balances[index].each do |balance| %>
    <tr>
        <td><%= balance.tag.description %> </td>
        <td><%= number_to_currency(balance.amount, unit: "MYR ") %></td>
    </tr>
    <% end %>  
  </table>
  <%if user.id == current_user.id %>
     <%= render "budget_types/new_balance", index: index %>
   <% end %> 
 </div>
  <%end%>
</div>




  <div class="row">
   <% @group_users.each_with_index do |user, index| %>
    <div class="col-md-3">

    <h3> Leftover: <%= number_to_currency(@total_budget_income[index] - @total_budget_expense[index] - @total_budget_balance[index], unit: "MYR ")  %> </h3>
    </div>
    <%end %>
    </div>

  <% end %>
  </div>

<% else %>

  <h1> Please create a bank account above! </h1>

<% end %>
</div>