<div class="container-fluid">
  <div class="row">  
<div style= "text-align: center"> <% if params[:budgettype] = "actualexpense" %>
    <h1> Actual Expenses </h1>
    <% elsif params[:budgettype] = "expense" %>
    <h1> Planned Expenses </h1>
    <% end %>
</div>

    
  <% @group_users.each_with_index do |user| %>
    <div class="col-md-3", style="text-align:center">
    <%= button_to user_dashboard_path(current_user.id), method: :get, style: "background-color: transparent", params: { user_id: "#{user.id}", month: "#{@month}", view: "#{@view}" } do %>
      <h3> <%= user.name %> </h3>
        <% if user.avatar.present? %>
          <%= image_tag user.avatar.thumb.url %>
        <% end %>
      
    <% end %>
    </div>
  <%end%>
</div>
</div>

<!-- <ul class="nav nav-pills col-md-offset-4">
  <li class="active"><a href="#">Budgeted</a></li>
  <li><a href="#">Actual</a></li>

</ul> -->




<div class="row">

<li class="<%= 'active' if params[:controller] == 'home' %>"> 
<ul class="nav nav-tabs">


  <li role="presentation" class="<%= 'active' if @budget_type == nil || @budget_type == 'expense' %>"><%= link_to "Budgeted", user_dashboard_path(current_user.id, budgettype: "expense", view: "Expense") %></li>
  <li role="presentation" class="<%= 'active' if @budget_type == 'actualexpense' %>"> <%= link_to "Actual", user_dashboard_path(current_user.id, budgettype: "actualexpense", view: "Expense" ) %></li>
</ul>

  <div class="panel panel-default col-md-3 overviewbox" id='chart1'>
  <div class="panel-body">  
    <%= render_chart(@chart1, 'chart1') %>
  </div>
  </div>
  

  <div class="panel panel-default col-md-3 overviewbox" id='chart2'>
  <div class="panel-body">  
    <%= render_chart(@chart2, 'chart2') %>
  </div>
  </div>



    <div class="panel panel-default col-md-3 overviewbox" id='chart3'>
  <div class="panel-body">  
    <%= render_chart(@chart3, 'chart3') %>
  </div>
  </div>



  <div class="panel panel-default col-md-3 overviewbox" id='chart4'>
  <div class="panel-body">  
    <%= render_chart(@chart4, 'chart4') %>
  </div>
  </div>

</div>


</div>





</div>
</div>

<%= render "transactions/show" %>

// <script type="text/javascript">
//   $('.budget-type').click(function(e){

//     var id = <%= current_user.id %>
//     e.preventDefault();
//       $.ajax ({
//         url: '/users/' + id + '/dashboard/?budgettype=expense&view=Expense',
//         type: 'get',
//         dataType: 'JSON',
//         data:
//          { data: { budgettype: "expense", view: "Expense" } }

//      }).success(function(data){

//      }); 
//   }) 
// </script>
<!-- render "budgets/comparison" -->
 <!-- render "budgets/piecharts" -->
