<div class="container-fluid">
  <div class="row">  
    <div style= "text-align: center"> <% if params[:budgettype] == "actualexpense" %>
        <h1> Actual Expenses </h1>
        <% elsif params[:budgettype] == "expense" %>
        <h1> Planned Expenses </h1>
        <% end %>
    </div>
  </div>
</div>

<!-- <ul class="nav nav-pills col-md-offset-4">
  <li class="active"><a href="#">Budgeted</a></li>
  <li><a href="#">Actual</a></li>

</ul> -->




<div class="row">

<li class="<%= 'active' if params[:controller] == 'home' %>"> 
  <ul class="nav nav-tabs" style="margin-left: 20px;">
    <li role="presentation" class="<%= 'active' if @budget_type == nil || @budget_type == 'expense' %>"><%= link_to "Budgeted", user_dashboard_path(current_user.id, budgettype: "expense", view: "Expense") %></li>
    <li role="presentation" class="<%= 'active' if @budget_type == 'actualexpense' %>"> <%= link_to "Actual", user_dashboard_path(current_user.id, budgettype: "actualexpense", view: "Expense" ) %></li>
  </ul>
  <% @group_users = @group_users + Array.new(4 - @group_users.count, nil) %>
  <% @group_users.each_with_index do |user, index| %>
    <% number = index+1 %>
    <div class="panel panel-default col-md-3 overviewbox">
      <div class="panel-body"> 
        <div id='chart<%= number %>'>
           <%= render_chart(@charts[index], "chart#{number}") %>
        </div>
        <div>
          <% unless user.nil? %> 
          <%= link_to user_dashboard_path(current_user.id, user_id: "#{user.id}", month: "#{@month}", view: "#{@view}") do %>
              <%= image_tag(user.avatar_url, :size => "50x50", class: "avatarpic pull-left")%> 
              <%= user.name %>     
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  <%end%>
</div>


</div>





</div>
</div>

<%= render "transactions/show" %>

// <script type="text/javascript">
//   $('.budget-type').click(function(e){

//     var id = <%= current_user.id %>
//     e.preventDefault();
//       $.ajax ({
//         url: '/users/' + id + '/dashboard/?budgettype=expense&view=Expense',
//         type: 'get',
//         dataType: 'JSON',
//         data:
//          { data: { budgettype: "expense", view: "Expense" } }

//      }).success(function(data){

//      }); 
//   }) 
// </script>
<!-- render "budgets/comparison" -->
 <!-- render "budgets/piecharts" -->
