<div class= "container">
  <div class = "row">
  <% @group_users.each_with_index do |user| %>
    <%= button_to user_dashboard_path(current_user.id), method: :get, params: { user_id: "#{user.id}", month: "#{@month}", view: "#{@view}" } do %>
      <h3> <%= user.name %> </h3>
      <div class="col-md-3">
        <% if user.avatar.present? %>
          <%= image_tag user.avatar.thumb.url %>
        <% end %>
      </div>
    <% end %>
  <%end%>
</div>


<div class = "row" >
  <div class= "col-md-3">
    <%= button_to "Planned Income", user_dashboard_path(current_user.id), method: :get, params: { budgettype: "income", view: "Income"} %>
  </div>

    <div class= "col-md-3">
      <%= button_to "Actual Income", user_dashboard_path(current_user.id), method: :get, params: { budgettype: "actualincome", view: "Income"} %>
  </div>
</div>




<div class="row">
  <div class= "col-md-3" id='chart1'>
  </div>
      <%= render_chart(@chart1, 'chart1') %>


  <div class= "col-md-3" id='chart2'>
  </div>
      <%= render_chart(@chart2, 'chart2') %>


  <div class= "col-md-3" id='chart3'>
  </div>
      <%= render_chart(@chart3, 'chart3') %>


  <div class= "col-md-3" id='chart4'>
  </div>
      <%= render_chart(@chart4, 'chart4') %>

</div>


     <div class="w3-progress-container">
      <div class="w3-progressbar" style="width: <%=@progressbarnumber[0] %>%; background-color: <%=@colorarray[0] %>"></div>
    </div>
</br>
     <div class="w3-progress-container">
      <div class="w3-progressbar" style="width: <%=@progressbarnumber[1] %>%; background-color: <%=@colorarray[1] %>"></div>
    </div>
</br>
     <div class="w3-progress-container">
      <div class="w3-progressbar" style="width: <%=@progressbarnumber[2] %>%; background-color: <%=@colorarray[2] %>"></div>
    </div>
 </br>

     <div class="w3-progress-container">
      <div class="w3-progressbar" style="width: <%=@progressbarnumber[3] %>%; background-color: <%=@colorarray[3] %>"></div>
    </div>
 </br>
 </div>
<button class="transaction-button"> Transaction </button>
<button class="comparison-button"> Comparison </button>

<%= render "transactions/show" %>


 <!-- render "budgets/piecharts" -->
