<div class="container-fluid">
<div class="row">

  <div class="col-md-6">
    <div class="panel panel-default overviewbox" >
      <div class="panel-body overviewboxbody">
            <h3>Group Contributions: Income</h3>
            <div class ="content-only">
    <%@arrayeaners = []%>
<!-- First loop for logic-->    
    <% @group_users.each_with_index do |user, index| %>
      <% @arrayeaners << @overview_incomes_budget[index]%>
    <% end %>
<!-- 2nd loop for display-->    
  <% @group_users.each_with_index do |user, index|%>
    </br>

    <% percentage = ((@overview_incomes_budget[index].to_f / @arrayeaners.inject(0){|sum,x| sum + x }.to_f)*100) %>
    <div>
    <p class = "username pull-left"><%= user.name %> </p>
    <p class = "pull-right"><%= number_to_currency(@overview_incomes_budget[index], unit: "MYR ") %> of total <%= number_to_currency(@arrayeaners.inject(0){|sum,x| sum + x }, unit: "MYR ") %></p>
  </div>
    <div class="progress">
      <div class="progress-bar" style='width: <%= percentage %>%; background-color: <%= @colors[index] %>;'>
      </div>
    </div>

  <% end %>

      </div>
    </div>
  </div>

  </div>

  <div class="col-md-6">
    <div class="panel panel-default overviewbox">
      <div class="panel-body">
        <div class ="content-only">
    <h3>Group Contributions: Budget Expenses</h3>
    <%@arrayeaners2 = []%>
<!-- First loop for logic-->    
    <% @group_users.each_with_index do |user, index| %>
      <% @arrayeaners2 << @overview_expenses_budget[index]%>
    <% end %>
<!-- 2nd loop for display-->    
  <% @group_users.each_with_index do |user, index|%>
    </br>
    <p class = "username pull-left"><%= user.name %> </p>
    <% percentage = ((@overview_expenses_budget[index].to_f / @arrayeaners2.inject(0){|sum,x| sum + x }.to_f)*100) %>
    <p class = "pull-right"><%= number_to_currency(@overview_expenses_budget[index], unit: "MYR ") %> of total <%= number_to_currency(@arrayeaners2.inject(0){|sum,x| sum + x }, unit: "MYR ") %></p>
    <div class="progress">
      <div class="progress-bar" style='width: <%= percentage %>%; background-color: <%= @colors[index] %>;'>
      </div>
    </div>

  <% end %>


  </div>
      </div>
    </div>
    </div>




  <div class="col-md-6">
    <div class="panel panel-default overviewbox">
      <div class="panel-body">
        <div class ="content-only">

    <h3> Income Tracker </h3>
    <% @group_users.each_with_index do |user, index| %>
    <p class = "username pull-left"><%= user.name %> </p>
    <p class = "pull-right"> <%= number_to_currency(@overview_incomes_transaction[index], unit: "MYR ") %> Earned / <%= number_to_currency(@overview_incomes_budget[index], unit: "MYR ") %> Planned</p>
    <div class="progress">
      <div class="progress-bar" style='width: <%= @overview_incomes_percentage[index] %>%; background-color: <%= @colors[index] %>;'>
      </div>
    </div>
    <% end %>
  </div>
  </div>
      </div>
    </div>

<div class="col-md-6">
    <div class="panel panel-default overviewbox">
      <div class="panel-body">  
                <div class ="content-only">

    <h3> Expense Tracker </h3>
    <% @group_users.each_with_index do |user, index| %>
    <p class = "username pull-left"><%= user.name %> </p>
    <p class = "pull-right"> <%= number_to_currency(@overview_expenses_transaction[index], unit: "MYR ") %> Spent / <%= number_to_currency(@overview_expenses_budget[index], unit: "MYR ") %>  Budget</p>
    <div class="progress">
      <div class="progress-bar" style='width: <%= @overview_expenses_percentage[index] %>%; background-color: <%= @colors[index] %>;'>
      </div>
    </div>
    <% end %>
</div>
 </div>
      </div>
</div>

 </div>     
  </div>