<div class="mdl-grid overview">



  <div class="mdl-cell mdl-cell--6-col">
    <h3>All Users Income <%= @parsed_month %></h3>
    <%@arrayeaners = []%>
<!-- First loop for logic-->    
    <% @group_users.each_with_index do |user, index| %>
      <% @arrayeaners << @overview_incomes_budget[index]%>
    <% end %>
<!-- 2nd loop for display-->    
  <% @group_users.each_with_index do |user, index|%>
    </br>
    <p><%= user.name %> </p>
    <% percentage = ((@overview_incomes_budget[index].to_f / @arrayeaners.inject(0){|sum,x| sum + x }.to_f)*100) %>
    <%= @overview_incomes_budget[index] %> of total <%= @arrayeaners.inject(0){|sum,x| sum + x } %>
    <div class="progressbar-container">
      <div class="progressbar-filler" style='width: <%= percentage %>%; background-color: <%= @colors[index] %>;'>
      </div>
    </div>

  <% end %>


  </div>

  <div class="mdl-cell mdl-cell--6-col">
    <h3>All Users Expenses <%= @parsed_month %></h3>
    <%@arrayeaners2 = []%>
<!-- First loop for logic-->    
    <% @group_users.each_with_index do |user, index| %>
      <% @arrayeaners2 << @overview_expenses_budget[index]%>
    <% end %>
<!-- 2nd loop for display-->    
  <% @group_users.each_with_index do |user, index|%>
    </br>
    <p><%= user.name %> </p>
    <% percentage = ((@overview_expenses_budget[index].to_f / @arrayeaners2.inject(0){|sum,x| sum + x }.to_f)*100) %>
    <%= @overview_expenses_budget[index] %> of total <%= @arrayeaners2.inject(0){|sum,x| sum + x } %>
    <div class="progressbar-container">
      <div class="progressbar-filler" style='width: <%= percentage %>%; background-color: <%= @colors[index] %>;'>
      </div>
    </div>

  <% end %>


  </div>

  <div class="mdl-cell mdl-cell--6-col">
    <h3> Budget <%= @parsed_month %></h3>
    <% @group_users.each_with_index do |user, index| %>
    <p> <%= user.name %> </p>
    <p> <%= @overview_expenses_transaction[index] %> / <%= @overview_expenses_budget[index] %> </p>
    <div class="progressbar-container">
      <div class="progressbar-filler" style='width: <%= @overview_expenses_percentage[index] %>%; background-color: <%= @colors[index] %>;'>
      </div>
    </div>
    <% end %>
  </div>
</div>

  