<h3> <%= @budget[@user_index].start_date %> | <%= @budget[@user_index].end_date %> </h3>

<div id='chart'>
  <%= render_chart(@chart, 'chart') %>
</div>

<div id="chart2">
    <%= render_chart(@chart, 'chart2') %>
  </div>


     <div class="w3-progress-container">
      <div class="w3-progressbar" style="width: <%=@progressbarnumber[0] %>%; background-color: <%=@colorarray[0] %>"></div>
    </div>

<button class="transaction-button"> Transaction </button>
<button class="comparison-button"> Comparison </button>
<button class="summary-button"> Summary </button>

<%= render "transactions/show" %>

<%= render "budgets/comparison" %>

<%= render "budgets/summary" %>
