<div class="container-fluid">
<ul class="nav nav-pills pull-left">
  <li class="dropdown">
    <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">
      <%= params[:view]%> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Overview", user_dashboard_path(current_user.id, user_id: "#{@user.id}", month: "#{@month}", view: "Overview"), class: "dashboard-selector-button" %></li>
      <li><%= link_to "Income", user_dashboard_path(current_user.id, user_id: "#{@user.id}", month: "#{@month}", view: "Income"), class: "dashboard-selector-button" %></li>

      <li><%= link_to "Expense", user_dashboard_path(current_user.id, user_id: "#{@user.id}", month: "#{@month}", view: "Expense"), class: "dashboard-selector-button" %></li>

      <li><%= link_to "Goal", user_dashboard_path(current_user.id, user_id: "#{@user.id}", month: "#{@month}", view: "Expense"), class: "dashboard-selector-button" %></li>
    </ul>
  </li>  <li class="dropdown">
    <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">
      <%= @parsed_month %> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">

      
      <li><%= link_to "January", user_dashboard_path(current_user.id,user_id: "#{@user.id}", month: "1", view: "#{@view}"), class: "month-selector-button" %></li>
      <li><%= link_to "February", user_dashboard_path(current_user.id,user_id: "#{@user.id}", month: "2", view: "#{@view}"), class: "month-selector-button" %></li>
      <li><%= link_to "March", user_dashboard_path(current_user.id,user_id: "#{@user.id}", month: "3", view: "#{@view}"), class: "month-selector-button" %></li>
      <li><%= link_to "April", user_dashboard_path(current_user.id,user_id: "#{@user.id}", month: "4", view: "#{@view}"), class: "month-selector-button" %></li>      
      <li><%= link_to "May", user_dashboard_path(current_user.id,user_id: "#{@user.id}", month: "5", view: "#{@view}"), class: "month-selector-button" %></li>
      <li><%= link_to "June", user_dashboard_path(current_user.id,user_id: "#{@user.id}", month: "6", view: "#{@view}"), class: "month-selector-button" %></li>
      <li><%= link_to "July", user_dashboard_path(current_user.id,user_id: "#{@user.id}", month: "7", view: "#{@view}"), class: "month-selector-button" %></li>
      <li><%= link_to "August", user_dashboard_path(current_user.id,user_id: "#{@user.id}", month: "8", view: "#{@view}"), class: "month-selector-button" %></li> 
      <li><%= link_to "September", user_dashboard_path(current_user.id,user_id: "#{@user.id}", month: "9", view: "#{@view}"), class: "month-selector-button" %></li>
      <li><%= link_to "October", user_dashboard_path(current_user.id,user_id: "#{@user.id}", month: "10", view: "#{@view}"), class: "month-selector-button" %></li>
      <li><%= link_to "November", user_dashboard_path(current_user.id,user_id: "#{@user.id}", month: "11", view: "#{@view}"), class: "month-selector-button" %></li>
      <li><%= link_to "December", user_dashboard_path(current_user.id,user_id: "#{@user.id}", month: "12", view: "#{@view}"), class: "month-selector-button" %></li>         
    </ul>
  </li>
</ul>


</div>





<% if @view == "Overview" %>
  <%= render "pages/overview" %>
<% elsif @view == "Income" %>
  <%= render "pages/income" %>
<% elsif @view == "Expense" %>

  <%= render "pages/expense" %>
<% elsif @view == "Balance" %>
  <%= render "pages/balance" %>
<% end %>
